<!--{include:client/header.html}-->
<div class="change-password container">
	<!--{include:client/block-flow-message.html}-->
	<form action="${PHP_SELF}?action=change-password" method="post" id="submit-form">
	<input type="hidden" name="option" id="option" value="update" />
		<div class="form detail-form round-corner">
			<div class="row">
				<h2>Change Password</h2>
			</div>
			<div class="row">
				<label>Old Password:</label>
				<input type="password" name="old_password" id="old_password" value="" class="validate[required,length[6,20]]" />
				<span class="remark">Please empty it if not change</span>
			</div>
			<div class="row">
				<label>New Password:</label>
				<input type="password" name="new_password" id="new_password" class="validate[required,length[6,20]]" />
			</div>
			<div class="row">
				<label>Confirm Password:</label>
				<input type="password" name="confirm_password" id="confirm_password" class="validate[required,equals[new_password]]" />
			</div>
			<div class="row control">
				<input type="submit" name="commit" id="commid" value="Update" class="control" />
			</div>
		</div>
	</form>
</div>
<!--{include:client/footer.html}-->