<!--{include:client/header.html}-->
<div class="panel-home">
	<!--{include:client/block-flow-message.html}-->
	<div class='detail round-corner'>
		<h2 class="subject">Your Cube Information</h2>
		<ul class="clear-fix">
			<li class="label">Your name</li>
			<li class="text">{$info['cube']['contact_person']}</li>
			<li class="label">Your phone</li>
			<li class="text">{$info['cube']['phone']}</li>
		</ul>
		<ul class="clear-fix">
			<li class="label">Your email</li>
			<li class="text">{$info['cube']['email']}</li>
			<li class="label">Cube name</li>
			<li class="text">{$info['cube']['cube_name']}</li>
		</ul>
		<ul class="clear-fix">
			<li class="label">Creation Date</li>
			<li class="text">{$info['cube']['create_date']}</li>
			<li class="label">Rent Price</li>
			<li class="text">{$info['cube']['rent_price']}</li>
		</ul>
		<ul class="clear-fix">
			<li class="label">Total Products</li>
			<li class="text">{$info['cube']['total_product']}</li>
		</ul>
	</div>
	
	<div class="detail round-corner">
		<h2 class="subject">Other Cube Information</h2>
		<div class="description">{$info['cube']['description']}</div>
		<div class="cover"><img src="{$info['cube']['cover']}" /></div>
	</div>
</div>
<!--{include:client/footer.html}-->