<!--{include:header.html}-->
<div id="content" class="cube share clear-fix">
	<div class="detail clear-fix">
		<div class="cover">
			<img src="${SITE_URL}/static/image/sample/380x350.png" alt="" />
		</div>
		<div class="info">
			<h1>Cube Name</h1>
			<h2>Cube Description balabala....!Cube Description balabala....!Cube Description balabala....!Cube Description balabala....!Cube Description balabala....!Cube Description balabala....!Cube Description balabala....!</h2>		
		</div>
	</div>
	<div class="product">
		<ul>
			<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
			<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
			<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
			<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>

			<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
			<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
			<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
			<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		</ul>
	</div>
</div>
<!--{include:footer.html}-->