<!--{include:header.html}-->
<div id="content" class="hot clear-fix">
	<ul class="proucts">
		<li><a href="product-detail.php?id=1"><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></a></li>
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
	</ul>
</div>
<!--{include:footer.html}-->