<!--{include:header.html}-->
<div id="content" class="clear-fix">
	<ul class="cubes">
		<li><a href="cube.php?id=1"><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></a></li>
		<li><a href="rent-cube.php?id=1"><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></a></li>
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
		<li><img src="${SITE_URL}/static/image/sample/200x200.png" alt="" /></li>
	</ul>
</div>
<!--{include:footer.html}-->