<!--{include:header.html}-->
<div id="content" class="product-detail share clear-fix">
	<div class="detail clear-fix">
		<div class="cover">
			<img src="${SITE_URL}/static/image/sample/380x350.png" alt="" />
		</div>
		<div class="info">
			<a href="cube.php?id=1"><h1>Cube Name</h1></a>
			<h2>Cube Description balabala....!Cube Description balabala....!Cube Description balabala....!Cube Description balabala....!Cube Description balabala....!Cube Description balabala....!Cube Description balabala....!</h2>		
			
			<span>Product Info</span>
			<dl>
				<dt>Name</dt>
				<dd>Diablo 3</dd>
			</dl>
			<dl>
				<dt>Price</dt>
				<dd>US $99.9</dd>
			</dl>
			<dl>
				<dt>Stock</dt>
				<dd>0</dd>
			</dl>
			<dl>
				<dt class="row">Description</dt>
				<dd class="text">Product Description balabala...!Product Description balabala...!</dd>
			</dl>
		</div>
	</div>
</div>
<!--{include:footer.html}-->