<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow"/>
<meta name="googlebot" content="index, follow"/>
<meta name="baiduspider" content="index, follow"/>
<title>Administrator Control Panel</title>
<link rel="shortcut icon" href="${SITE_URL}/static/image/icon.png" />
<link rel="stylesheet" type="text/css" href="${SITE_URL}/static/stylesheet/reset.css" />
<link rel="stylesheet" type="text/css" href="${SITE_URL}/static/stylesheet/jquery/jquery.tipTip.css" />
<link rel="stylesheet" type="text/css" href="${SITE_URL}/static/stylesheet/jquery/jquery.validationEngine.css" />
<link rel="stylesheet" type="text/css" href="${SITE_URL}/static/stylesheet/admin.css" />
<script language="javascript" type="text/javascript">var SITE_URL = "${SITE_URL}", PHP_SELF = "${PHP_SELF}";</script>
<script language="javascript" type="text/javascript" src="${SITE_URL}/static/javascript/jquery.js"></script>
<script language="javascript" type="text/javascript" src="${SITE_URL}/static/javascript/jquery/jquery.tipTip.js"></script>
<script language="javascript" type="text/javascript" src="${SITE_URL}/static/javascript/jquery/jquery.validationEngine-en.js"></script>
<script language="javascript" type="text/javascript" src="${SITE_URL}/static/javascript/jquery/jquery.validationEngine.js"></script>
<script language="javascript" type="text/javascript" src="${SITE_URL}/static/javascript/admin.js"></script>
<script language="javascript" type="text/javascript">
<!--${
Module::create("content")->show("header_script");
}-->
</script>
</head>
<body>
<div id="wrapper">